#main-calendar-container{
    width: 100%;
    margin-top: 30px;
    padding-left: 3%;
    Qheight: 200px;
    Qborder:1px solid red;
}
body{
    background:url("./../img/background.jpg");
    background-size: contain;
}
#week-days .weekday, 
#cal-container .cell{
    display: inline-block;
    width: 13%;
    overflow:hidden;
}
#cal-container .cell{
    margin-right: 1%;
    padding: 1%;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    opacity: 0.7;

    /* hack instead of border */
    box-shadow: 
    1px 0 0 0 green, 
    0 1px 0 0  green , 
    1px 1px 0 0 green ,   /* Just to fix the corner */
    1px 0 0 0 green inset, 
    0 1px 0 0 green inset;
}
.has-data{
    background: url("./../img/actions-view-calendar-day-icon.png");
    background-size: contain;
}

.cell-content{
    position: absolute;
    width: 100%;
    height: 100%;

}    

#cal-container .cell:after {
    content: "";
    display: block;
    padding-bottom: 100%; 
  }

 

  #month-name{
      margin: 10px 30px;
  }

.important{
    color: red;
}

.star{
    color:black;
}