body {
	font-family: Roboto;

	background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


h1 {
	background: linear-gradient(to right, #1f4037, #99f2c8);
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus {
	float: right;
}

li {
	background: #E9F5CA;
	height: 40px;
	line-height: 40px;
	color: #666;
	width: 100%;
}

li:nth-child(2n) {
	background: #F6FFCA;
}

li> :first-child {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span.trash {
	width: 40px;
	opacity: 1.0;
}

.addToDo {
	font-size: 18px;
	color: #2980b9;
	background-color: #F6FFCA;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	/* background: #f7f7f7; */
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;

}

.completed {
	color: gray;
	text-decoration: line-through;
}


li>.star {

	float: right;
	width: 40px;
	height: 40px;

}

li> :last-child :hover {

	color: #e74c3c;
}

.important {
	color: #e74c3c;
}

#back-to-calendar {
	text-align: center;
	border: #666 1px solid;
	border-bottom: none;
	padding: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: rgb(199, 199, 199);
	/* width: auto;
	margin: 0 auto;
	float: left; */
}

#back-to-calendar:hover {
	color: #52dbf3;
	background: rgb(81, 83, 81);
	text-decoration: underline;
}

#clock {
	position: relative;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	text-align: center;
}

/* .clock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #17D4FE;
	font-size: 60px;
	font-family: Orbitron;
	letter-spacing: 7px;
} */
