#main-calendar-container{
    width: 60%;
    margin-top: 30px;
    Qheight: 200px;
    Qborder:1px solid red;
}
#week-days .weekday, 
#cal-container .cell{
    display: inline-block;
    width: 14%;
    overflow:hidden;
}
#cal-container .cell{
    box-sizing: border-box;
    border: 1px solid green;
}
.has-data{
    background: url("./../img/actions-view-calendar-day-icon.png");
    background-size: contain;
}
.cell-content{
    position: absolute;
    width: 100%;
    height: 100%;
}    

#cal-container .cell:after {
    content: "";
    display: block;
    padding-bottom: 100%; 
  }

 

  #month-name{
      margin: 10px 30px;
  }

 